# 为了避免native模块反复编译，在 `.yarnrc` 中定义了 `--ignore-scripts true` [How do I skip building the DLL immediately after install?](https://electron-react-boilerplate.js.org/docs/faq/#how-do-i-skip-building-the-dll-immediately-after-install)
--ignore-scripts true
